/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    background: url('./public/snow-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    position: relative;
}

/* Beaver Image Styles */
.beaver {
    position: absolute;
    width: 250px;
    height: 350px;
    display: none;
    opacity: 0;
    animation: appear 3s forwards, disappear 3s forwards;
    background-color: transparent;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(60%);
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
        transform: translateY(60%);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

/* Gift Box Rotation Animation */
@keyframes shuffle {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(1800deg);
        /* Rotate more quickly */
    }

    100% {
        transform: rotate(3600deg);
        /* Continue rotating faster */
    }
}

.gift-box.shuffling {
    animation: shuffle 2s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
    /* cubic-bezier for smoother acceleration */
}


.title {
    text-align: center;
    margin: 20px;
    font-size: 4rem;
    color: #fff;
    font-family: 'Great Vibes', cursive;
}

/* Gift Box with PNG Image */
.gift-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    position: relative;
    /* Ensure PS5 image can be absolutely positioned inside it */
}

.gift-box {
    position: relative;
    cursor: pointer;
}

.gift-image {
    width: 300px;
    padding-left: 40px;
    /* Adjust the size of the gift image */
    height: 300px;
    object-fit: cover;
    border: none;
    /* Remove any borders or outline */
}

/* Hidden Reveal (PS5) */
.hidden {
    display: none;
}

.reveal {
    text-align: center;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.ps5-image {
    width: 300px;
    /* Make the PS5 image a bit larger */
    height: auto;
    transition: transform 1s ease-in-out;
}

.message {
    font-size: 4rem;
    color: #fff;
    margin-top: 10px;
    font-family: 'Mountains of Christmas', cursive;
    /* Christmas-style font */
}